body {
    margin: 0px;
}

.td-1 {
    padding: 100px;
    padding-left: 200px;
}

#p-1 {
    /*边框样式*/
    border-style: solid;
    border-bottom: groove;
    /*边框宽度*/
    border-bottom-width: 10px;
    /*边框颜色*/
    border-top-color: aqua;
    /*边框圆角*/
    border-radius: 5px;
}

.div-1 {
    background-color: bisque;
    width: 100px;
    height: 100px;
    text-align: center; /*居中*/
    box-shadow: 10px 10px 5px green; /*x,y,h,color*/

}

.div-2 {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 10px;
}