#div-1 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /*布局*/
    position: relative;
    left: 20px;
    z-index: 2;/*图层显示优先级*/
}

#div-2 {
    width: 100px;
    height: 100px;
    background-color: red;
    /*布局*/
    position: relative;
    left: 10px;
    top: -10px;
    z-index: 1;
}